@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;700&family=Roboto:wght@300;700&display=swap');
@import 'bulma/css/bulma.css';

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden scroll;
    background-color: var(--bg-color);

    font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
    --color: #ffffff;
    --bg-color: #24292e;
    --primary: #2a64f6;
}
  
.TodoApp {
    padding: 40px;
    box-sizing: border-box;
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar, .box {
    background: transparent;
}

.container-notes {
    display: flex;
    width: 100%;
}

.NewItem {
    width: 40%;
}

.ListItems {
    width: 60%;
}

h1, p, span {
    color: var(--color);
    margin: 0;
}

h1 {
    font-size: 34px;
}

button {
    margin: 1px;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

input, textarea {
    width: -webkit-fill-available;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    margin: 4px;
}

input[type="color"] {
    padding: 0;
    height: 40px;
    width: -webkit-fill-available;
    cursor: pointer;
}

.btn-save {
    background: var(--primary);
    color: var(--color);
    padding: 10px;
    width: 100%;
}

/* -------------------- */
/* -------------------- */
/* -------------------- */

/* NEW NOTE STYLES */

.NewItem, .NewItem label {
    display: flex;
    flex-direction: column;
}

.NewItem label {
    padding: 10px;
}

/* LIST NOTES STYLES */

.ListNotes, li {
    border-radius: 4px;
    margin-bottom: 20px;
    list-style: none;
    padding: 20px 10px;
    border: 2px solid beige;
}

.ListNotes, li input, .ListNotes, li textarea {
    width: -webkit-fill-available;
    max-width: unset;
}

.date-text {
    font-size: 12px;
    text-align: right;
}

.colapsed-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colapsed-item p {
    color: white;
    font-size: 20px;
}

.colapsed-item .btn-control-item, .buttons .btn-control-item {
    background: transparent;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}